.App {
  overflow-x: hidden;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
  background-color: #546279;
  
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App-menu {
	margin: 10pt 10pt 10pt 0;
}

.App-footer {
  color: white;
  background-color: #546279;
  width: 100vw;
  position: relative;
  left: 180pt;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App-intro {
  font-size: large;
}

.contacts {
  font-size: 85%;
  padding: 0 10pt 8pt 10pt;
}

.contacts a {
  color: rgba(200, 220, 255, 0.8);
  text-decoration: none;
}

.contacts a:hover {
  color: rgba(200, 220, 255, 1.0);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left_pane {
  max-width: 250px;
  position: fixed;
  
  width: 180pt;
  height: 100vh;
  top: 120pt;
  /*background-color: rgba(30,60,100,0.7);*/
  background-color: #546279;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.main_pane_frame {
  background: white;
}

.main_pane {
  padding: 150pt 30px 60pt 280px;
  margin: 0;
  background-color: white;
  min-height: calc(100vh - 280px);  /* This value is a manual adjustment */
}

.main_pane .people {
  margin: auto;
}


.article_pages_list {
}

.license_alert {
	background: white;
    margin: 130pt 35pt 35pt 235pt;
    padding: 10pt 20pt;
    max-width: 400pt;
    overflow: hidden;
}


.license_alert_background {
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20pt;
    right: 0;
    bottom: 0;
}

.license_disclaimer {
	font-size: 80%;
	color: rgba(0, 0, 0, 0.8);
}

.license_button_container {
	margin: 20pt 0 10pt 0;
}

.btn {
  border-style: none;
  background: #7798ad;
  background-image: -webkit-linear-gradient(top, #7f90b2, #546279);
  background-image: -moz-linear-gradient(top, #7f90b2, #546279);
  background-image: -ms-linear-gradient(top, #7f90b2, #546279);
  background-image: -o-linear-gradient(top, #7f90b2, #546279);
  background-image: linear-gradient(to bottom, #7f90b2, #546279);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  
  margin: 0 4pt 0 0;
  cursor: pointer;
}

.btn:hover {
  background: #82a6bd;
  background-image: -webkit-linear-gradient(top, #8798ba, #5c6a81);
  background-image: -moz-linear-gradient(top, #8798ba, #5c6a81);
  background-image: -ms-linear-gradient(top, #8798ba, #5c6a81);
  background-image: -o-linear-gradient(top, #8798ba, #5c6a81);
  background-image: linear-gradient(to bottom, #8798ba, #5c6a81);
  text-decoration: none;
  color: #ffffff;
}

.back {
  margin-left: 8pt;
  background: #888888;
  background-image: -webkit-linear-gradient(top, #999999, #777777);
  background-image: -moz-linear-gradient(top, #999999, #777777);
  background-image: -ms-linear-gradient(top, #999999, #777777);
  background-image: -o-linear-gradient(top, #999999, #777777);
  background-image: linear-gradient(to bottom, #999999, #777777);
}

.back:hover {
  margin-left: 8pt;
  background: #999999;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #888888);
  background-image: -moz-linear-gradient(top, #aaaaaa, #888888);
  background-image: -ms-linear-gradient(top, #aaaaaa, #888888);
  background-image: -o-linear-gradient(top, #aaaaaa, #888888);
  background-image: linear-gradient(to bottom, #aaaaaa, #888888);
  color: #ffffff;
}

.menu_item_active,
.menu_item {
  padding: 2pt 8pt 2pt 0;
}

.menu_item_active a {
  font-size: 90%;
  color: rgba(255, 170, 100, 1.0);
  fill: rgba(255, 170, 100, 0.8);
}

.menu_item_active a:hover {
  font-size: 90%;
  color: rgba(255, 255, 255, 1.0);
  fill: rgba(216, 223, 233, 0.8);
}

.menu_item_active span {
  font-size: 90%;
  color: rgba(255, 170, 100, 1.0);
  fill: rgba(255, 170, 100, 0.8);
}

.menu_item a {
  font-size: 90%;
  color: rgba(255, 255, 255, 0.85);
  fill: rgba(216, 223, 233, 0.6);
}

.menu_item a:hover {
  font-size: 90%;
  color: rgba(255, 255, 255, 1.0);
  fill: rgba(216, 223, 233, 0.8);
}

.line {
  padding: 2pt 4pt;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
}

table, td, th {
  border: 1px solid #cccccc;
  padding: 2pt;
}

.tableimg table, .tableimg td, .tableimg th {
  border: none;
  width: 600px;
  margin: auto;
}

.tablecust table, .tablecust td, .tablecust th {
  border: none;
  margin: auto;
}

div.device_page ul {
	padding: 0;
    text-indent: 2pt;
    list-style-position: inside;
}

span.nobr {
  white-space: nowrap;
}

p.eq {
  text-align: center;
}