.App {
  background-color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
  background-color: #546279;
  
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.App-menu {
	margin: 10pt 10pt 10pt 0;
}

.App-footer {
  color: white;
  background-color: #546279;
  width: 100vw;
  position: relative;
}

.App-intro {
  font-size: large;
}

.contacts {
  font-size: 85%;
  padding: 0 10pt 8pt 10pt;
}

.contacts a {
  color: rgba(200, 220, 255, 0.8);
  text-decoration: none;
}

.contacts a:hover {
  color: rgba(200, 220, 255, 1.0);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left_pane {
  max-width: 250px;
  position: fixed;
  
  width: 180pt;
  height: 100vh;
  top: 120pt;
  /*background-color: rgba(30,60,100,0.7);*/
  background-color: #546279;
}

.main_pane {
  margin-left: 280px;
  margin-right: 30px;
  background-color: white;
  max-width: 600pt;
  margin-top: 150pt;
  margin-bottom: 60pt;
  min-height: 60vh;
}

.main_pane .people {
  margin: auto;
}


.article_pages_list {
}

.license_alert {
	background: white;
    margin: 130pt 35pt 35pt 235pt;
    padding: 10pt 20pt;
    max-width: 400pt;
    overflow: hidden;
}


.license_alert_background {
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20pt;
    right: 0;
    bottom: 0;
}

.license_disclaimer {
	font-size: 80%;
	color: rgba(0, 0, 0, 0.8);
}

.license_button_container {
	margin: 20pt 0 10pt 0;
}

.btn {
  border-style: none;
  background: #7798ad;
  background-image: -webkit-linear-gradient(top, #7f90b2, #546279);
  background-image: -moz-linear-gradient(top, #7f90b2, #546279);
  background-image: -ms-linear-gradient(top, #7f90b2, #546279);
  background-image: -o-linear-gradient(top, #7f90b2, #546279);
  background-image: linear-gradient(to bottom, #7f90b2, #546279);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  
  margin: 0 4pt 0 0;
  cursor: pointer;
}

.btn:hover {
  background: #82a6bd;
  background-image: -webkit-linear-gradient(top, #8798ba, #5c6a81);
  background-image: -moz-linear-gradient(top, #8798ba, #5c6a81);
  background-image: -ms-linear-gradient(top, #8798ba, #5c6a81);
  background-image: -o-linear-gradient(top, #8798ba, #5c6a81);
  background-image: linear-gradient(to bottom, #8798ba, #5c6a81);
  text-decoration: none;
  color: #ffffff;
}

.back {
  margin-left: 8pt;
  background: #888888;
  background-image: -webkit-linear-gradient(top, #999999, #777777);
  background-image: -moz-linear-gradient(top, #999999, #777777);
  background-image: -ms-linear-gradient(top, #999999, #777777);
  background-image: -o-linear-gradient(top, #999999, #777777);
  background-image: linear-gradient(to bottom, #999999, #777777);
}

.back:hover {
  margin-left: 8pt;
  background: #999999;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #888888);
  background-image: -moz-linear-gradient(top, #aaaaaa, #888888);
  background-image: -ms-linear-gradient(top, #aaaaaa, #888888);
  background-image: -o-linear-gradient(top, #aaaaaa, #888888);
  background-image: linear-gradient(to bottom, #aaaaaa, #888888);
  color: #ffffff;
}

.menu_item_active,
.menu_item {
  padding: 2pt 8pt 2pt 0pt;
}

.menu_item_active span {
  font-size: 90%;
  color: rgba(255, 170, 100, 1.0);
  fill: rgba(255, 170, 100, 0.8);
}

.menu_item a {
  font-size: 90%;
  color: rgba(255, 255, 255, 0.85);
  fill: rgba(216, 223, 233, 0.6);
}

.menu_item a:hover {
  font-size: 90%;
  color: rgba(255, 255, 255, 1.0);
  fill: rgba(216, 223, 233, 0.8);
}

.line {
  padding: 2pt 4pt;
}