nb {
  white-space: nowrap;
}

a {
  color: rgba(0, 25, 150, 0.8);
  text-decoration: none;
}

li {
  padding: 5pt 0
}

a:hover {
  /*color: rgba(255, 170, 100, 1.0);*/
  color: rgba(0, 25, 150, 0.6);
}

.page {
  max-width: 600pt;
  margin: auto;
}

.page ol {
  padding-left: 17pt;
}

.page h1 {
  margin: 35pt 10pt 20pt 0pt;
  font-size: 150%;
  font-weight: normal;
  color: #546279;
}

.page h2 {
  margin: 35pt 15pt 10pt 25pt;
  font-size: 120%;
  font-weight: bold;
}

.article_item {
  margin: 0 0 18pt 0;
/*  line-height: 1.3;*/
  color: rgba(0, 0, 0, 0.7);
}

.article_span_space {
  width: 5pt;
  display: inline-block;
}

.article_title, .associate_name {
  font-size: 110%;
  padding: 3pt 0 3pt 0;
  color: rgba(0, 0, 0, 1.0);
}

.article_title a {
  color: rgba(0, 25, 150, 0.8);
  text-decoration: none;
}

.article_title a:hover {
  /*color: rgba(255, 170, 100, 1.0);*/
  color: rgba(0, 25, 150, 0.6);

}

.article_journal_title, .associate_position, .associate_acad_degree, .associate_acad_title {
  font-style: italic;
}

.article_language {
  font-size: 90%;
}

.article_language a {
  font-size: 95%;
  font-weight: bold;
}

.article_data {
  font-size: 90%;
  font-weight: bold;
}

.big_text {
  padding: 5pt 10pt 7pt 10pt;
  border: solid;
  border-color: rgba(200, 220, 255, 0.8);
}

.associate_portrait {
  float: left;
  margin: 0 10pt 5pt 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.associate_email, .associate_tel {
  font-size: 90%;
  display: block;
}

.associate_staff_position {
  display: block;
  margin-bottom: 5pt;
}

.device_block {
  display: inline-block;
  float: left;
}

.instrum ol {
	counter-reset: item;
	padding: 0;
}

.instrum ol { 
	padding-left: 4pt;
}

.instrum ol li { 
	display: block;
	padding-left: 0pt;
}

.instrum ol li ol { 
	display: block;
	padding-left: 8pt;
}


.instrum ol li:before { 
	content: counters(item,"." ) ". "; 
	counter-increment: item;
}

.instrum ul {
	padding: 0;
	margin: 10pt 0;
	list-style-position: inside;
}

.instrum dl {
	margin: 5pt 0
}